@import '../../../style/use';

.logo {
	position: absolute;
	bottom: 4rem;
	left: 4rem;

	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;

	text-decoration: none;

	&:focus {
		outline: none;
	}

	&__name,
	&__position {
		display: block;

		font-family: @fira-code;
	}

	&__name {
		position: relative;
		left: 3.75rem;

		font-weight: bold;
		font-size: 4rem;
		white-space: nowrap;

		&__regular {
			color: @grey-light;
		}

		&__accent {
			color: @turquoise;
		}
	}

	&__position {
		color: @gery-regular;
		font-size: 2rem;
		white-space: nowrap;
	}
}
